  @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&family=Rubik+Bubbles&display=swap');


* {
    box-sizing: border-box;
}

body {
    background-image: url("./istockphoto.jpg");
    font-family: "Oswald", sans-serif;
    min-height: 100vh;
    background-size: cover;
    background-position: center center;    
    margin: 0;
}
